<% content_for :sidebar do %>
    <div class="simpleCart_items"></div>
    <div id="cartData" class="clearfix">
      <div class="left"><strong>Items: </strong><span class="simpleCart_quantity"></span></div>
      <div class="right"><strong>Total: </strong><span class="simpleCart_total"></span></div>
    </div>
    <div id="popoverButtons" class="clearfix">
      <a href="javascript:;" class="simpleCart_checkout hudbtn primary right">Checkout</a>
    </div>
<% end %>

<div data-hook="homepage_products">
  <%= render :partial => "spree/products/almanac" %>
  <%= render :partial => "spree/products/#{@today}" %>
  <%= render :partial => 'spree/products/everyday' %>
</div>